<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jeancarlos.radiobuttonandcheckbox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.jeancarlos.jogodamemoria.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.jeancarlos.jogodamemoria.Activity_16"
            android:label="@string/title_activity_activity_16" />
        <activity
            android:name="com.example.jeancarlos.jogodamemoria.Activity_20"
            android:label="@string/title_activity_activity_20" />
        <activity
            android:name="com.example.jeancarlos.jogodamemoria.Activity_24"
            android:label="@string/title_activity_activity_24" />
    </application>
</manifest>
